html {
  font-family: Baskerville, serif;
}

h1,
h2,
h3,
h4,
.nav,
.icon-label,
.pt-sans {
  font-family: "PT Sans", sans-serif;
}

.masthead {
  text-align: center;
  background-color: #333;
}

h1 {
  font-weight: normal;
}

.text-lg {
  color: #ddd;
}

.text-mg {
  color: #aaa;
}

.text-dg {
  color: #333;
}

.hov-highlight {
  text-decoration: none;
  border-bottom: 2px solid #333;
  transition: border-color 1s;
  /*display: block;*/
  text-transform: lowercase;
}

.hov-highlight:hover {
  border-color: #ddd;
}

.rule {
  border-bottom: 1px solid #333;
}

.indent {
  text-indent: 1rem;
}

.no-under {
  text-decoration: none;
}

.footer {
  background-color: #333;
  text-align: center;
}

.i-awr {
  background-image: url("../images/awr-logo.svg");
}

.i-email {
  background-image: url("../images/mail.svg");
}

.i-f-book {
  background-image: url("../images/f-book.svg");
}

.i-i-gram {
  background-image: url("../images/i-gram.svg");
}

.i-tweet {
  background-image: url("../images/tweet.svg");
}

/* ----- =Home ----- */

.banner {
  max-height: 75vh;
  overflow: hidden;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, .25);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.banner-body {
  position: absolute;
  max-width: 30em;
  top: 50%;
  left: 62.5%;
  transform: translateX(-50%) translateY(-50%);
}

.btn-ban {
  background-color: #ddd;
  border-color: #ddd;
}

.btn-ban:hover {
  background-color: #333;
  border-color: #333;
  color: #ddd;
}
/* ----- =Portfolio ----- */

.bg-blue {
  background-color: #1b2e70;
}

.under-blue,
.hov-blue:hover {
  border-color: #1b2e70;
}

.sub-mast {
  display: none;
}

.xs-1-6,
.s-1-6,
.m-1-6,
.l-1-6 {
  width: calc(100%/6);
}

.under-dark {
  border-color: #fff;
}

.under-dark:hover {
  border-color: #333;
}
/* ----- =Bio ----- */

.bg-red {
  background-color: #933;
}

.under-red,
.hov-red:hover {
  border-color: #933;
}

.dl-group-inline dt,
.dl-group-inline dd {
  display: inline-block;
}

@media only screen and (min-width: 25em) {



}

@media only screen and (min-width: 38em) {

  h1 {
    text-align: left;
  }

  .t-left-m {
    text-align: left;
  }


  .sub-mast {
    display: block;
  }

}

@media only screen and (min-width: 60em) {

  .banner-img {
    margin-top: -5rem;
  }

}
